<h2>ID:</h2>
<h3>{{user.id}}</h3>
<br>

<h2>Name:</h2>
<h3>{{user.username}}</h3>
<br>

<h2>Email:</h2>
<h3>{{user.email}}</h3>
<br>


<h2>Description:</h2>
<h3>{{user.description}}</h3>
<br>

<h2>People Interested in You</h2>
{{#each user.likers}}
  <p>{{this}}</p>
{{/each}}
